@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url(./fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

html {
  background: linear-gradient(to top, hsl(0, 0%, 85%), hsl(0, 0%, 75%)) no-repeat center center fixed;
}

.logoImage {
  margin-left: 3.8rem;
  width: 20rem;
}

.mainContainer {
  margin: 4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: 0.5rem solid hsl(0, 0%, 70%);
  padding: 0.5rem;
  
  border: 0.5rem solid hsl(0, 0%, 65%);
  background: hsl(0, 0%, 55%);
}

.dropdownContainer {
  background: hsl(0, 0%, 50%);
}

.citiesDropdown {
  margin: 1rem;
  padding: 0.1rem;

  background: hsl(0, 0%, 55%);
  color: hsl(0, 0%, 85%);
  border-radius: 0.2rem;

  font: 1.8rem 'Roboto-Light';
}

.weatherTable {
  border-collapse: collapse;
  width: 100%;
  justify-content: space-between;
}

tr:nth-child(even) {
  background: hsl(0, 0%, 50%);
}

.weatherText {
  font: 1.7rem 'Roboto-Light';
  text-transform: capitalize;
}

#day {
  padding-left: 1.2rem;
  width: 12rem;
  color: hsl(0, 0%, 85%);
}

#temperature {
  padding-left: 4rem;
  color: hsl(0, 0%, 100%);
}

#description {
  color: hsl(0, 0%, 100%);
}

.weatherImage {
  margin: 0.4rem;
  align-self: center;

  border-radius: 0.2rem;
  background: hsl(0, 0%, 70%);
}

.footerText {
  margin-left: 3.8rem;

  color: hsl(0, 0%, 45%);

  font: 350 1.25rem 'Roboto-Light';
}

.codeLink {
  font-size: 1rem;
}